doctype(html)
html(lang='en')
	head
		title iHub... The home of the next great idea
		meta(charset="UTF-8")
		link(rel='stylesheet', href='/stylesheets/app.css')
		script(src='/javascripts/app.js' defer)
	body
		block content